<header class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand mr-4" href="{% url 'home_page' %}">Джуманджи</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav col-10">
                <li class="nav-item">
                    <a class="nav-link" href="#">Vacancies</a>
                </li>
            </ul>
            {% if user.is_authenticated %}
                <ul class="navbar-nav col-2 justify-content-end">
                <li class="nav-item active">
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle font-weight-bold" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.username }}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right mt-3">
                        <a href="#" class="dropdown-item py-2">Profile</a>
                        <a href="#" class="dropdown-item py-2">Summary</a>
                        <a href="{% url 'my_company' %}" class="dropdown-item py-2">My company</a>
                        <a href="{% url 'logout' %}" class="dropdown-item py-2">Logout</a>
                    </div>
                </div>
            {% else %}
                <a href="{% url 'login' %}" class="nav-link font-weight-bold">Вход</a>
            {% endif %}
            </li>
            </ul>
        </div>
    </nav>
</header>