{% extends 'base.html' %}

{% block main %}
    <main class="container mt-3 pb-5">
        <section class="col-12 col-lg-6 offset-lg-3 mt-5 card">
            <div class="card-body px-4 pb-4">
                <form method="post">
                    {% csrf_token %}
                    <div class="text-center">

                    <h1 class="h4 pt-2">Delete resume</h1>
                    <p class="mt-2">Are you sure you want to delete "{{ resume.title }}"?</p>
                        <button type="submit" class="btn btn-info mb-2">Delete resume</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
{% endblock %}