{% extends 'base.html' %}

{% block main %}
    <main class="container mt-3 pb-5">
        <div class="row mt-5">
            <div class="col-12 col-lg-2">
                <div class="pl-3 mb-5">
                    <p><a href="#">Назад</a></p>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <section class="pl-3">
                    <a href="#"><img src="https://place-hold.it/130x80" width="130" height="80" alt=""></a>
                    <div class="d-flex align-items-baseline align-content-baseline">
                        <h1 class="h2 mt-4 font-weight-bold" >{{ resume.first_name }} {{ resume.second_name }}</h1>
                        <p class="m-0 pl-3">{{ resume.salary }}Р</p>
                    </div>
                    <hr></hr>
                    <div style="line-height: 1.8;"><h2><strong>{{ resume.title }}</strong></h2></div>
                    <hr></hr>
                    <div><h2><strong>{{ resume.education }}</strong></h2></div>

                    <form method="post" class="card mt-4 mb-3">
                        {% csrf_token %}
                        <div class="card-body mx-3">
                            {{ form.as_p }}
                            <button class="btn btn-primary mt-2 mb-2" type="submit">Send</button>
                        </div>
                    </form>

                </section>
            </div>
        </div>
    </main>
{% endblock %}