{% extends 'base.html' %}

<title>{% block title %}Создать карточку компании | Джуманджи{% endblock %}
</title>
{% block main %}
    <style>
        body {
            background-color: #F6F2E6;
        }
    </style>
    <body>
    <main class="container mt-3 pb-5">
        <div class="row mt-5">
            <div class="col-12 col-lg-4">
                {% include 'include/sidebar.html' %}
            </div>
            <section class="col-12 col-lg-8">
                <div class="card">
                <div class="card-body px-4 pb-4">
                    {% with request.resolver_match.url_name as url_name %}
                        {% if url_name == 'my_company' %}
                                <h1 class="h4 pt-2">Моя компания</h1>
                                <p class="mt-2">Пока мы думаем, что вы – частное лицо. Хотите создать карточку компании, разместить информаию и вакансии?</p>
                                <a href="{% url 'create_company' %}" class="btn btn-info mb-2">Создать карточку компании</a>
                        {% elif url_name == 'create_vacancy'%}
                                <h1 class="h4 pt-2">Вакансии</h1>
                                <p class="alert alert-info" role="alert">
                                    У вас пока нет вакансий, но вы можете создать новую!
                                </p>
                                <a href="{% url 'create_vacancy' %}" class="btn btn-info mb-2">Create vacancy</a>

                        {% endif %}
                    {% endwith %}
                </div>
                </div>
            </section>
        </div>
    </main>
    </body>
{% endblock %}
