{% extends 'base.html' %}

<title>{% block title %}Моя компания | Джуманджи{% endblock %}</title>

{% block main %}
    <style>
        body {
            background-color: #F6F2E6;
        }
    </style>
    <body>
    <main class="container mt-3 pb-5">
        <div class="row mt-5">
            <div class="col-12 col-lg-4">
                {% include 'include/sidebar.html' %}
            </div>
            <div class="col-12 col-lg-8">
                <div class="card">
                    <div class="card-body px-4 pb-4">
                        <!-- Tab -->
                        <section class="tab-pane fade show active">
                            <h2 class="h4 pt-2 pb-3">Информация о Вакансии</h2>
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group pb-1">
                                            {{ form.title.label_tag }}
                                            {{ form.title }}
                                            {{ form.errors }}
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">

                                            <div class="row align-items-center">
                                                <div class="col-11">
                                                    {{ form.specialty.label_tag}}
                                                    {{ form.specialty }}
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group pb-2">
                                            {{ form.salary_min.label_tag }}
                                            {{ form.salary_min }}
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group pb-2">
                                            {{ form.salary_max.label_tag }}
                                            {{ form.salary_max }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group pb-2">
                                    {{ form.skills.label_tag }}
                                    {{ form.skills }}
                                </div>
                                <div class="form-group pb-2">
                                    {{ form.description.label_tag }}
                                    {{ form.description }}
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-info" type="submit">Save</button>
                                </div>
                            </form>
                            <!-- Applications -->
              <h2 class="h4 pt-2 pb-3">Отклики - {{ applications.count }}</h2>
                            {% for application in applications %}
              <!-- Application 1 -->
              <div class="card mt-3">
                <div class="card-body px-4">
                  <p class="mb-1 font-weight-bold">{{ application.written_username }}</p>
                  <p class="mb-2"><a href="tel:+79002842324" class="text-dark">{{ application.written_phone }}</a></p>
                  <p class="mb-1">{{ application.written_cover_letter }}</p>
                </div>
              </div>
                            {% endfor %}
              <!-- END Application 1 -->
                        </section>
                        <!-- END Tab -->
                    </div>
                </div>

            </div>
        </div>
    </main>
    </body>
{% endblock %}