{% extends 'base.html' %}

{% block main %}
    <body>
    <main class="container mt-3 pb-5">
        <div class="row mt-5">
            <div class="col-12 col-lg-4">
                {% include 'include/sidebar.html' %}
            </div>
            <div class="col-12 col-lg-8">
                <div class="card">
                    <div class="card-body px-4 pb-4">
                        <!-- Tab -->
                        <section class="tab-pane fade show active">
                            <h2 class="h4 pt-2 pb-3">Информация о&nbsp;компании</h2>
                            <p class="alert alert-info" role="alert">
                                Информация о компании обновлена
                            </p>

                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group pb-1">
                                            {{ form.name.label_tag }}
                                            {{ form.name }}
                                            {{ form.errors }}
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label class="mb-2 text-dark" for="companyLogo">Логотип</label>
                                            <div class="row align-items-center">
                                                <div class="col-6">
                                                    <img src="https://place-hold.it/120x40" alt="" style="max-width: 120px;height: auto;">
                                                </div>
                                                <div class="col-6" style="position: relative;">
                                                    <div class="input-group-prepend" style="position: absolute; top: 0;right: 15px;">
                                                        {#                                                            <span class="btn btn-info px-4">Загрузить</span>#}
                                                    </div>
                                                    <div class="custom-file" style="">
                                                        {{ form.logo }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group pb-2">
                                            {{ form.employee_count.label_tag }}
                                            {{ form.employee_count }}
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group pb-2">
                                            {{ form.city.label_tag }}
                                            {{ form.city }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group pb-2">
                                    {{ form.description.label_tag }}
                                    {{ form.description }}
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-info" type="submit">Save</button>
                                </div>
                            </form>
                        </section>
                        <!-- END Tab -->
                    </div>
                </div>
            </div>
        </div>
    </main>
    </body>
{% endblock %}