{% extends 'base.html' %}
<title>{% block title %}Вакансии компании | Джуманджи{% endblock %}</title>

{% block main %}
    <style>
        body {
            background-color: #F6F2E6;
        }
    </style>

    <body>
    <main class="container mt-3 pb-5">
        <div class="row mt-5">
            <div class="col-12 col-lg-4">
                {% include 'include/sidebar.html' %}
            </div>
            <div class="col-12 col-lg-8">
                <div class="card">
                    <div class="card-body px-4 pb-4">
                        <section class="tab-pane fade show active">
                            <h2 class="h4 pt-2 pb-3">Вакансии</h2>
                            {% for message in messages %}
                                {% if message.tags == 'success' %}
                                    <p class="alert alert-info mb-4" role="alert">
                                        Информация о вакансии обновлена
                                    </p>
                                {% endif %}
                            {% endfor %}
                            <!-- vacancy state 1 -->
                            {% for vacancy in page_obj %}
                                <div class="card mt-3">
                                    <div class="card-body px-4">
                                        <div class="row align-items-center">
                                            <div class="col-6 col-lg-8">
                                                <a href="{{ vacancy.get_absolute_url }}" class="mb-1">{{ vacancy.title }}</a>
                                                <p class="mb-1">
                                                    <span class="mr-4">{{ vacancy.salary_max }}</span><a href="#" class="text-info">3 отклика</a>
                                                </p>
                                            </div>
                                            <div class="col-6 col-lg-4 text-right">
                                                <a href="/cabinet/{{ vacancy.slug }}/" class="btn btn-outline-info">Изменить</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <!-- END vacancy state 1 -->
                        </section>

                        <!-- Pagination -->
                        <div style="padding-left: 40%" class="mt-4">
                            {% if page_obj.has_other_pages %}
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        {% if page_obj.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% for page in page_obj.paginator.page_range %}
                                            {% if page == page_obj.number %}
                                                <li class="page-item active"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                                            {% elif page > page_obj.number|add:-2 and page < page_obj.number|add:2 %}
                                                <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if page_obj.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            {% endif  %}
                        </div>
                    <div class="form-group mt-2">
                            <a href="{% url 'create_vacancy' %}"><button class="btn btn-info" type="submit">Add vacancy</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}