{% extends 'base.html' %}
{% load static %}
{% block main %}

    <main class="container mt-3">
        <section>
            <h1 class="h1 text-center mx-auto mt-4 py-5"><strong>Vacancies for<br>Junior developers</strong></h1>
            <div class="row">
                <div class="col-12 col-md-8 col-lg-6 offset-lg-3 offset-md-2">
                    <form class="form-inline mb-3" method="get">
                        <div class="form-group col-8 col-md-10 pl-0">
                            {{ form.q }}
                        </div>
                        <div class="form-group col-4 col-md-2 pl-0">
                            <button class="btn btn-primary w-100" type="submit">Find</button>
                        </div>
                    </form>
                    <p>Example:
                        <a href="/search/?q=python" class="text-dark border-bottom border-dark m-1 text-decoration-none">Python</a>
                        <a href="/search/?q=flask" class="text-dark border-bottom border-dark m-1 text-decoration-none">Flask</a>
                        <a href="/search/?q=django" class="text-dark border-bottom border-dark m-1 text-decoration-none">Django</a>
                        <a href="/search/?q=парсинг" class="text-dark border-bottom border-dark m-1 text-decoration-none">Парсинг</a>
                        <a href="/search/?q=ml" class="text-dark border-bottom border-dark m-1 text-decoration-none">ML</a>

                    </p>
                </div>
            </div>
        </section>

        <section class="mt-5 pt-3">
            <h2 class="h2 font-weight-normal text-center mb-5">Vacancies by headings</h2>
            <div class="row mb-0">
                {% for specialty in first_four_speciality %}
                    <div class="col-6 col-md-6 col-lg-3">
                        <div class="card pt-4 text-center mb-4">
                            <img class="mx-auto d-block" src="{{ specialty.image.url }}" width="80" height="80" alt="">
                            <div class="card-body">
                                <p class="card-text mb-2">{{ specialty.title }}</p>
                                <p class="card-text"><a href="{{ specialty.get_absolute_url }}">{{ specialty.vacancies.count }} вакансий</a></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <div class="row mb-4">
                {% for data in second_four_speciality %}
                    <div class="col-6 col-md-6 col-lg-3">
                        <div class="card pt-4 text-center mb-4">
                            <img class="mx-auto d-block" src="{{ data.image.url }}" width="80" height="80" alt="">
                            <div class="card-body">
                                <p class="card-text mb-2">{{ data.title }}</p>
                                <p class="card-text"><a href="{{ data.get_absolute_url }}">{{ data.vacancies.count }} вакансий</a></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </section>

        <section class="my-5 pt-3">
            <h2 class="h2 font-weight-normal text-center mb-5">Trusted by the best companies</h2>
            <div class="row mb-0">
                {% for company in first_four_company %}
                    <div class="col-6 col-md-6 col-lg-3">
                        <div class="card pt-4 text-center mb-4">
                            <a href="{{ company.get_absolute_url }}" style="max-width: 150px;" class="mx-auto d-block">
                                {% if company.logo %}
                                    <img class="mx-auto d-block mw-100" src="{{ company.logo.url }}" width="150" height="80" alt="">
                                {% endif %}
                            </a>
                            <div class="card-body">
                                <p class="card-text"><a href="{{ company.get_absolute_url }}">{{ company.vacancies.count }} вакансий</a></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row mb-4">
                {% for company in second_four_company %}
                    <div class="col-6 col-md-6 col-lg-3">
                        <div class="card pt-5 text-center mb-4">
                            <a href="{{ company.get_absolute_url }}" style="max-width: 150px;" class="mx-auto d-block">
                                {% if company.logo %}
                                    <img class="mx-auto d-block mw-100" src="{{ company.logo.url }}" width="150" height="80" alt="">
                                {% endif %}
                            </a>
                            <div class="card-body">
                                <p class="card-text"><a href="{{ company.get_absolute_url }}">{{ company.vacancies.count }} вакансии</a></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>

{% endblock %}